.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin-bottom: 0;
}
p span:first-child {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .Header {
    flex-direction: column;
  }
  .Header > {
    margin-top: 20px;
  }
}
